<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.oa.mapper.DeptMapper">
    <sql id="Base_Column_List">
        t.`id`, t.`name`, t.`parent_id`, t1.`name` `parent_name`, t.`state`
    </sql>

    <sql id="Dept_Column_List">
        t.id,t.`name`,t.parent_id,t.state
    </sql>

    <select id="findByParam" resultType="DeptDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_department t
        LEFT JOIN t_department t1 ON t.parent_id=t1.id
        <where>
            <if test="name!=null and name!=''">
                t.`name`=#{name}
            </if>
            <if test="parentName!=null and parentName!=''">
                AND t1.`name`=#{parentName}
            </if>
            <if test="state!=null">
                AND t.state=#{state}
            </if>
        </where>
    </select>

    <select id="queryByParam" resultType="DepartmentPo">
        SELECT
        <include refid="Dept_Column_List"/>
        FROM t_department t
        <where>
            <if test="state!=null">
                t.state=#{state}
            </if>
            <if test="parentId!=null">
                AND t.parent_id=#{parentId}
            </if>
            <if test="name!=null and name!=''">
                AND t.`name`=#{name}
            </if>
            <if test="id!=null">
                AND t.id=#{id}
            </if>
        </where>
    </select>

    <select id="getNameCount" resultType="int">
        SELECT
          COUNT(1)
        FROM t_department t
        <where>
            <if test="name!=null and name!=''">
                t.`name`=#{name}
            </if>
            <if test="id!=null">
                AND t.id!=#{id}
            </if>
        </where>
    </select>

    <update id="merge">
      UPDATE t_department SET `name`=#{name},parent_id=#{parentId},update_time=NOW(),update_user_id=#{updateUserId} WHERE id=#{id}
    </update>

    <update id="updateState">
      UPDATE t_department SET state=#{state},update_time=NOW(),update_user_id=#{updateUserId} WHERE id=#{id}
    </update>
    
    <insert id="insert">
        INSERT INTO t_department (`name`, parent_id, create_user_id) VALUES (#{name}, #{parentId}, #{createUserId})
    </insert>
</mapper>