<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.oa.mapper.DeptMapper">
    <sql id="Base_Column_List">
        t.`id`, t.`name`, t.`parent_id`, t1.`name` `parent_name`, t.`state`
    </sql>

    <select id="findByParam" resultType="DeptDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_department t
        LEFT JOIN t_department t1 ON t.parent_id=t1.id
        <where>
            <if test="name!=null and name!=''">
                t.`name`=#{name}
            </if>
            <if test="parentName!=null and parentName!=''">
                AND t1.`name`=#{parentName}
            </if>
            <if test="state!=null">
                AND t.state=#{state}
            </if>
        </where>
    </select>
</mapper>