<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.oa.mapper.EmployeeMapper">
    <sql id="Base_Column_List">
        t.id,t.`name`,t.sex,t.card_type,t.card_no,t.mobile,t.address,t.user_id,t.position_id,t.state
    </sql>

    <select id="findByParam" resultType="DeptDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_employee t
        <where>
            <if test="state!=null">
              t.state=#{state}
            </if>
            <if test="positionId!=null">
                AND t.position_id=#{positionId}
            </if>
        </where>
    </select>

</mapper>