<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.oa.mapper.MenuMapper">

    <select id="checkExists" resultType="MenuPO">
        SELECT
        *
        FROM
        t_menu t
        WHERE
          t.state = #{state}
        AND (
            t.title = #{title}
            OR t.url = #{url}
        )
        <if test="id!=null">
        AND t.id != #{id}
        </if>
        LIMIT 1
    </select>

    <select id="findAll" resultType="MenuPO">
        SELECT *
        FROM t_menu t
        <where>
            t.state = #{state}
        </where>
        ORDER BY parent_id,sort
    </select>

    <select id="findByRole" resultType="MenuPO">
        SELECT *
        FROM t_menu t
        INNER JOIN t_role_menu t1 ON  t.id=t1.menu_id AND t1.role_id=#{roleId} AND t.state=1
    </select>

    <delete id="deleteRoleMenu">
        DELETE FROM t_role_menu WHERE role_id=#{roleId}
    </delete>


</mapper>