<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mine.oa.mapper.UserMapper">
    <sql id="Base_Column_List">
        `id`, `user_name`, `password`, `email`, `photo_url`, `last_login_time`, `login_fail_count`, `unlock_time`, `login_ip`, `state`, `create_time`, `create_user_id`, `update_time`, `update_user_id`
    </sql>

    <select id="findAll" resultType="UserPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
    </select>

    <select id="getByCondition" resultType="UserPo">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_user
        WHERE state=1
        <if test="userName!=null">
            AND user_name=#{userName}
        </if>
        <if test="password!=null">
            AND password=#{password}
        </if>
    </select>

    <update id="updatePwd">
        UPDATE t_user SET `password`=#{password},update_time=NOW(),update_user_id=#{id} WHERE id=#{id}
    </update>

    <select id="findDataByUserName" resultType="UserDataDto">
        SELECT
            t.user_name,
            t.email,
            t.photo_url,
            t1.`name`,
            t1.sex,
            t1.card_type,
            t1.card_no,
            t1.mobile,
            t1.address,
            t3.`name` deptName,
            t2.`name` posName
        FROM
            `t_user` t
        INNER JOIN t_employee t1 ON t.id = t1.user_id
        LEFT JOIN t_position t2 ON t1.position_id = t2.id
        LEFT JOIN t_department t3 ON t1.dept_id = t3.id
        WHERE
            t.user_name = #{userName}
    </select>

    <update id="updatePhoto">
        UPDATE t_user SET `photo_url`=#{photoUrl},update_time=NOW(),update_user_id=#{id} WHERE id=#{id}
    </update>
    
    <select id="findAllPhoto" resultType="String">
        SELECT photo_url FROM t_user
    </select>

</mapper>